
body {
  border-color: black;
  margin: 5%;
  background: none;
  color: black;
}

.contenedor-principal {
  border-style: double;
  border-color: black;
  margin: 5%;
  background: none;
  color: black;
}

.logo {
  width: 30% !important;
}

.cabecera {
  background: none;
  align-items: center;
  border-bottom: double black;
  margin: unset;
}

.contenedor-titulo {
  height: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  position: relative;
  width: 70%;
}

h1 {
  font-size: 6vw;
  width: 100%;
  font-family: seroe;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
}

.noticia {
  margin: 5%
}

header p {
  text-align: justify;
  font-variant: all-petite-caps;
  font-size: 1.4vw;
}
.logo_imprimir {
  height: 100%;
  width: 20% !important;
}

.logo_imprimir img {
  max-width: 50%;
  height: 100%;
}

.footer {
  background: none;
  position: relative;
  border-top: double black;
}

.footer div {
  height: unset;
  width: 90%;
}

#informacion {
  width: 35%;
}

#copyright {
  height: auto;
  width: 40%;
}
