
body {
  background: none;
  color: black;
}

.contenedor-principal {
  border-style: double;
  border-color: black;
  margin: 5%;
}

.cabecera {
  background: none;
  align-items: center;
  margin: unset;
  border-bottom-style: double;
}

.contenedor-titulo {
  height: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  position: relative;
  width: 70%;
}

h1 {
  font-size: 4vw;
  width: 100%;
  font-family: seroe;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
}

.noticia {
  margin: 5%
}

header p {
  text-align: justify;
  font-variant: all-petite-caps;
  font-size: 1.4vw;
  letter-spacing: normal;
}

.footer {
  background: none;
  border-top-style: double;
}

.footer div {
  height: unset;
  width: 90%;
}

#informacion {
  width: 35%;
}

#copyright {
  height: auto;
  width: 40%;
}
