
/*****************************************************************************
  CÓDIGO SANEADO
*****************************************************************************/

.seccion-noticias {
  width: 74%;
  height: 100%;
  background: rgba(80, 80, 80, 0.9);
  padding: 2%;
  margin: 0 2%;
}

.noticia {
  text-rendering: geometricPrecision;
  text-align: justify;
  font-size: 1.3vw;
}

header h1,
header h2,
header h3 {
  text-align: center;
}

.contenedor-imagen {
  margin-bottom: 2%;
}

.enlaces {
  display: flex;
  width: 100%;
  height: 10%;
}

.enlaces a img {
  all: unset;
  width: 10%;
  height: 100%;
}

header h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.contenedor-fila-2 {
  display: flex;
  flex-flow: row;
  width: 100%;
  place-content: space-evenly;
}

/******************************************************/
/* Sección de comentarios. Visualización y formulario */
/******************************************************/

.seccion-comentarios {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.seccion-comentarios h2 {
  place-self: center;
  text-decoration: underline;
}

.comentario {
  padding: 0% 5% 2% 5%;
  font-size: medium;
  border-style: groove;
  margin: 1% 0%;
  box-shadow: 0px 5px 10px #410505;
}

.cabecera-comentario {
  display: flex;
  flex-direction: row;
  place-content: space-evenly;
  text-transform: uppercase;
}

form {
  display: flex;
  width: 100%;
  place-content: space-evenly;
}

input, textarea {
  width: 100%;
  margin-top: 2%;
  padding: 1.5% 2% 0%;
  background-color: inherit;
  color: white;
  border-style: unset;
  font-size: medium;
  text-align: justify;
}

input:focus {
  background-color: #3e3e3ea3;
}

::placeholder {
  color: darkgray;
  text-decoration: underline;
}

.boton {
  text-transform: uppercase;
  width: 20%;
  background-color: #717171;
  cursor: pointer;
  text-align: center;
  border-radius: 0%;
}

.comentario .boton {
  margin-left: 5%;
  padding-bottom: 1%;
}
