{# 404.twig #}

{% extends "layout.twig" %}

{% block principal %}

<div class="not-found">

<img src="https://cdn.dribbble.com/users/479289/screenshots/4849417/008_optimize.gif"/>

</div>

{% endblock %}
