{# grid.twig #}

{##  use "sidebar.twig" ##}

{% block seccion_noticias %}
  <!-- SECCION-NOTICIAS: comienzo  -->
  <div class="seccion-noticias">

    {% for item in noticias_grid %}
      <div class="box">
        <a href="./?p=noticias&id={{ item.id }}" title="Ver noticia">
          <img src=" {{ item.imagen }} ">
        </a>
        <p> {{ item.titulo }} </p>
      </div>
    {% endfor %}

  </div>
  <!-- SECCION-NOTICIAS: fin -->
{% endblock %}
