{# header.twig #}

<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ cabecera.titulo }}</title>
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <script src="js/funciones.js"></script>
   <link rel="shortcut icon" href="favicon/danger.png" >
  </head>

  <body>


{% block header %}
  <!-- CABECERA: comienzo -->
  <div class="cabecera">

  <!-- LOGO: comienzo -->
  <div class="logo">
    <a href="/?p=inicio" title="Ir a inicio">
      <img src="{{ cabecera.logo }}" alt="Logotipo del portal">
    </a>
  </div>
  <!-- LOGO: fin -->


  <!-- META-CABECERA: comienzo -->
  <div class="meta-cabecera">
    <div class="contenedor-titulo">
      <h1 class="center">{{ cabecera.titulo }}</h1>
    </div>

    <!-- MENU: comienzo -->
    <div class="navbar">
      <a class="navitem active" href="/?p=inicio" title="Ir a inicio"><p class="center">Inicio</p></a>
      <a class="navitem" href="/?p=listado-noticias" title="Listado de noticias"><p class="center">Noticias</p></a>
      <a class="navitem" href=#informacion title="Ir a información de contacto"><p class="center">Contacto</p></a>
    </div>
    <!-- MENU: fin -->
  </div>
  <!-- TITULO-CABECERA: fin -->

  </div>
  <!-- CABECERA: fin -->
{% endblock %}
