{# login.twig #}

{% extends "layout.twig" %}

{% block principal %}

<head>
  <link rel="stylesheet" type="text/css" href="css/estilo_registro.css">
</head>

<div class="login">

 <!-- o <a href="/php/registro.php">Registrarse</a> -->
  <div class="l1">
    <h2>Inicio de sesión</h2>
  </div>

 <div class="l2">
   <form class="center" method="post" name="login" autocomplete="on" target="_self">
     <div>
       <p>Correo electrónico: </p>
       <input type="text" name="email" placeholder="Inserte su email">
     </div>
     <div>
       <p>Contraseña:  </p>
       <input type="password" name="contraseña" placeholder="Inserte su contraseña">
     </div>
     <input type="submit"  value="Enviar">
   </form>
 </div>

</div>

{% endblock %}
