{# seccion-central.twig #}

{% block seccion_central %}

<div class="principal">

  {% if noticias_sidebar is defined %}
    {% include "sidebar.twig" %}

    {% if noticias_grid is defined %}
      {% include "grid.twig" %}
    {% else %}
      {% include "noticia.twig" %}
    {% endif %}

  {% else %}
    {% include "noticia_imprimir.twig" %}
  {% endif %}


</div>

{% endblock %}
