
body {
  border-style: double;
  border-color: black;
  margin: 5%;
  background: none;
  color: black;
}

.cabecera {
  background: none;
  display: flex;
  align-items: center;
  width: 90%;
  height: 25%;
}

.contenedor-titulo {
  height: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  position: relative;
  width: 70%;
}

h1 {
  font-size: 4vw;
  width: 100%;
  font-family: seroe;
  text-transform: uppercase;
  font-weight: bolder;
  font-style: italic;
}

.noticia {
  margin: 5%
}

header p {
  text-align: justify;
  font-variant: all-petite-caps;
  font-size: 1.4vw;
}


.footer {
  background: none;
  position: relative;
  border-style: double;
  border-color: black;
}

.footer div {
  height: unset;
  width: 90%;
}

#informacion {
  width: 35%;
}

#copyright {
  height: auto;
  width: 40%;
}


/* .encabezado-imagen {
  display: grid;
  grid-template-columns: 3fr 4fr;
  text-align: center;
  align-items: start;
  border-style: solid;
}

.meta-noticia {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 4fr;
  height: auto;
  align-items: center;
}


#titulo-noticia {
  text-transform: uppercase;
  font-family: serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 35px;
}

#autor, #fecha {
  text-transform: capitalize;
  display: inline;
}


.imagen-noticia {
  max-height: 680px;
  max-width: 550px;
  height: 95%;
  width: 95%;
  object-fit: scale-down;
  overflow: unset;
  place-self: center;
}

.descripcion-noticia {
  text-align: justify;
  font-variant: all-petite-caps;
  font-size: 1.4vw;
} */
